<html>
<head>
    <title>Affichage sur demande</title>
</head>
<body>
    <h1>C'est ici que tu vas voir apparaitre ton affichage dynamique !</h1>
        <p>
            Voici le numéro du potin que tu veux : <%= id %> !
        </p>
</body>
</html>
